* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

/*General Elements*/

section, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 1em 8em;
    flex: auto;
}

footer {
    background-color: #1F2937;
    padding: 30px 0px;
}

/*Header Elements*/


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.nav-link {
    color: #c8ccd5;
    text-decoration: none;
}

.nav-link:hover {
    color: hsl(220, 13%, 41%);
}

/*Hero Elements*/

.hero-section {
    background-color: #1F2937;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 1 500px;
    gap: 2.5em;
}

.hero-container > div {
    max-width: 500px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: auto;
}

.hero-header {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-para {
    font-size: 18px;
    color: #c8ccd5;
}

.signup-buttom {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 18px;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 3px 30px;
    text-decoration: none;
    margin-top: 10px;
    align-self: flex-start;
}

.hero-image {
    padding: 1em;
}

.image-placeholder {
    padding: 80px;
    background-color: hsl(220, 13%, 41%);
    color: #F9FAF8;
}

/*Random Informations Elements*/

.random-information {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 45px;
    padding: 90px 30px;
}

.information-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.squares-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 80%;
}

.square-item {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   gap: 5px;
   max-width: 160px;
}

.square-shape {
    border: 4px solid #3882F6;
    border-radius: 15px;
    width: 150px;
    height: 150px;
}

.info-para {
    color: #1F2937;
    text-align: center;
}

/*Quote Elements*/

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 0px;
    padding: 150px;
}

.quote-text {
    width: 55%;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 36px;
    word-spacing: 10px;
    font-size: 36px;
    font-style: italic;
    color: hsl(220, 13%, 41%);
}

.quote-author {
    font-weight: 900;
    color: #1F2937;
    align-self: flex-end;
    transform: translateX(-325px);
}

/*Call action elements*/

.call-action-section {
    padding: 140px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-action-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    background-color: #3882F6;
    width: 65%;
    height: 100px;
    border-radius: 5px;
    color: white;
}

.call-action-link {
    border: 2px solid white;
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 500;

}

/*Footer text*/

.footer-text {
    font-size: 0.9em;
    color: white;

}